body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5d04e;
  font-family: "Sora", sans-serif;
}

.card__wrapper {
  border: 1px solid black;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 380px;
  border-radius: 10px;
  padding: 20px 5px 20px 5px;
  -webkit-box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 1);
}

.card__image img {
  border-radius: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
}


.card__content .card__tag {
  background-color: #f5d04e;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card__content .card__meta {
    font-weight: bold;
}

.card__content .card__description {
    margin-top: 0;
    margin-bottom: 30px;
}

.card__author {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 15px;
}

.card__author .card__author-name {
    font-weight: bold;
}